body {
    font-family: 'Roboto', sans-serif;
}

.india {
    fill: none;
}

.state {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

#tooltip {

    opacity: 0.90;
    position: absolute;
    min-width: 60px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
path:hover {
    opacity: 0.9;
    transition-duration: 0.2s;
}

#title {
    width: 300px;
    position: absolute;
}

#legend {
    position: absolute;
    top: 150px;
}

#sh0 {
    background-color: rgb(247,251,255);
}

#sh1 {
    background-color: rgb(222,235,247);
}

#sh2 {
    background-color: rgb(198,219,239);
}

#sh3 {
    background-color: rgb(158,202,225);
}

#sh4 {
    background-color: rgb(107,174,214);
}

#sh5 {
    background-color: rgb(66,146,198);
}

#sh6 {
    background-color: rgb(33,113,181);
}

#sh7 {
    background-color: rgb(8,81,156);
}

#sh8 {
    background-color: rgb(8,48,107);
}

.shade {
    height: 20px;
    width: 30px;
    float: left;
}

.lbl {
    font-size: 11px;
    float: left;
    position: relative;
    top: 20px;
}

#lbl0 {
    right: 270px;
}

#lbl8 {
    right: 45px;
}

.statistics {
    position: absolute;
    right: 0px;
}

#min-pc-turnout {
    right: 10px;
}   

#max-pc-turnout {
    right: 230px;
}

#min-state-turnout {
    top: 150px;
    right: 10px;
}

#max-state-turnout {
    top: 150px;
    right: 230px;
}

.pc-name {
    font-size: 14px;
    color: #555;
}

.turnout-value {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: rgb(8,81,156);
}

#india-turnout {
    position: absolute;
    right: 80px;
    top: 250px;
}

#india-turnout-label {
    position: relative;
    bottom: 10px;
    left: 50px;
}

#num5 {
    position: relative;
    top: 150px;
    left: 65px;
}
    